html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	height: 200px;
}

#btn a {
	background: #0088ff;
	border-radius: 3px;
	padding: 8px 15px;
	color: white;
}

.navbar {
	float: right;
	margin-top: 20px;
	margin-right: 60px;
	font-size: 14px;
	font-family: Arial;
}

.table-icon {
	height: 25px;
	vertical-align: middle;
}

li {
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: black; 
}

a:hover {
	text-decoration: underline;
}

ul li #btn {
	color: white;
}

div {
	text-align: center;
}
img {
	height: 105px;
}

div input {
	border: 1px solid #dfe2e5;
	width: 600px;
	height: 30px;
	padding-left: 10px;
	font-family: Arial;
	font-size: 14px;
	margin-top: 20px;
	background: url('https://dl.dropboxusercontent.com/u/15152010/thinkful/FEWD/google_clone/images/microphone.png') right no-repeat;
	background-size: 25px;
}

.google img {
	position: relative;
}

.mic {
	vertical-align: middle;
	width: 14px;
	height: 18px;
}

.btn-1 {
	border: 1px solid #dfe2e5;
	border-radius: 3px;
	margin-right: 10px;
	margin-top: 20px;
	padding: 8px;
	font-family: Arial;
	background-color: #f2f2f2;
	font-weight: bold;
}

.btn-1:hover {
	border: 1px solid black;
}

#footer {
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: #f2f2f2;
	width: 100%;
	border: 1px solid #dfe2e5;
}

.left-footer {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.left-footer a {
	margin-left: 20px;
	font-family: Arial;
	color: #666666;
	font-size: 14px;
}

.right-footer {
	float: right;
	margin-top: 15px;
}

.right-footer a {
	margin-right: 30px;
	font-family: Arial;
	color: #666666;
	font-size: 14px;
}
